@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/bg-mobile.png");
  font-family: "Raleway", sans-serif;
}

.Main {
  /* border: solid 1px red; */
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Header {
  /* border: solid 1px green; */
  width: 33rem;
  height: 20rem;
  padding: 2.5rem 4rem;
  border-radius: 10px 90px 10px 10px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Buttons__container {
  /* border: solid 1px pink; */
  display: flex;
}

.Button {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Storage {
  /* border: solid 1px pink; */
  width: 33rem;
  height: 15rem;
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--dark-blue);
  color: var(--pale-blue);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Storage > input {
  margin-top: 1.8rem;
}

.Storage__capacity {
  /* border: solid 1px pink; */
  width: inherit;
  display: flex;
  justify-content: space-around;
}

.Storage__capacity > p {
  font-size: 1.2rem;
}

.Info {
  /* border: solid 1px orange; */
  width: 18rem;
  height: 7rem;
  position: absolute;
  top: 44.5rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Info > h1 {
  font-size: 3.8rem;
}

.Info > p {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--grayish-blue);
}

.attribution {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .Main {
    border: solid 1px red;
    height: 90vh;
    width: 100vw;
    flex-direction: row;
    position: relative;
  }

  .Header {
    margin-right: 3rem;
  }

  .Storage {
    width: 60rem;
    margin-top: 3rem;
  }

  .Info {
    top: 20rem;
    left: 98rem;
  }
}
